    body {
        background-color: wheat;
        font-family: 'Courier New';
    }

    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #locro-li-style {
        list-style: none;
    }

    #milanesa-li-style {
        list-style: none;
    }

    #empanada-li-style {
        list-style: none;
    }

    #chimichurri-li-style {
        list-style: none;
    }